html {
  height: 100%;
}
body {
  margin: 0;
  background-image: url(./Project_images/background.png);
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-weight: bold;
}

#content {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #020430;
  background-image: url(./Project_images/bodyBackground.png);
  background-size: 100%;
  background-repeat: repeat;
  padding: 10px;
  min-height: 800px;
  clear: both;
  color: white;
}

#this-website {
  padding-bottom: 50px;
}
#this-website * {
  margin-left: 40%;
  margin-right: 10%;
}
.project {
  overflow: auto;
}
/* .title {
  position: relative;
  top: 70%;
  left: 40%;
  width: 60%;
 float: right; 
} */

#content div {
  margin-bottom: 50px;
}
#about {
  margin-left: 5%;
  margin-right: 40%;
}
#about ul {
  text-align: center;
  list-style: none;
}
/* .description {
  white-space: pre-line;
} */
.image-div {
  margin-bottom: 0px;
  padding-left: 5%;
}
img {
  align-content: center;
  width: 30%;
  float: left;
  min-width: 300px;
  min-height: auto;
  background-color: rgb(255, 161, 0);
  padding-left: 15px;
  padding-top: 15px;
}
.text-div {
  display: table;
  /* width: 60%; */
  height: inherit;
  padding-top: 40px;
}
.text-div * {
  margin-top: 0;
  margin-bottom: 0;
}
ul.languages {
  display: table;
  position: relative;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 50%;
  min-width: 190px;
  width: fit-content;
  height: 50px;
  /* border-style: solid; */
  border-top: 0;
  background-color: rgb(255, 161, 0);
  z-index: 2;
  top: -10px;
  text-align: left;
}
.languages li {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-top: 15px;
  text-shadow: none;
  color: #020430;
  top: 0px;
  margin-right: 0px;
  background-color: rgb(255, 161, 0);
  z-index: 2;
  /* float: left; */
}
p {
  white-space: pre-line;
  text-align: left;
  /* padding-left: 10%;
  padding-right: 10%; */
}
h2 {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}
.text-div p {
  position: relative;
  text-align: left;
  margin-left: 10%;
  padding: 20px;
  /* border-style: solid; */
  width: 60%;
  min-width: 300px;
  background-color: rgb(26, 156, 231);
  z-index: 1;
  text-shadow: none;
}
.text-div h2 {
  position: relative;
  display: table;
  top: 10px;
  text-align: center;
  margin-left: 8%;
  padding: 10px;
  border-bottom: 0;
  /* border-style: solid; */
  width: fit-content;
  min-width: 250px;
  background-color: rgb(167, 101, 228);
  color: #020430;
  border-top-width: 2px;
  border-right-width: 2px;
  z-index: 2;
  text-shadow: none;
}
