html {
  height: 100%;
}
body {
  margin: 0;
  background-color: bisque;
  height: 100%;
}

#content {
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  padding: 10px;
  min-height: 800px;
  clear: both;
}

#this-website {
  padding-bottom: 100px;
}
.project {
  overflow: auto;
}
.title {
  /* position: relative;
  top: 70%;
  left: 40%; */
  width: 60%;
  float: right;
}
.description {
  text-align: left;
  white-space: pre-line;
}
img {
  /* position: relative;
  top: -120px;
  left: 0; */
  width: 40%;
  height: 32%;
  float: left;
  /* min-width: 200px;
  min-height: 160px; */
}
