#header {
  overflow: hidden;
  background-color: #000122;
  padding-left: 5%;
  padding-right: 0;
  padding-top: 10px;
  box-sizing: border-box;
  margin: 0;
  font-family: "arial";
  height: 50px;
}

.header a {
  display: inline-block;
  text-shadow: none;
  color: white;
  text-align: center;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: normal;
}

.header a.logo {
  font-size: 25px;
  font-weight: bolder;
}

.header a.header-link:hover {
  background-color: #ddd;
}

.header a.active {
  background-color: dodgerblue;
  /* color: white; */
}

.header-right {
  height: inherit;
  vertical-align: middle;
  align-content: right;
  display: inline;
  float: right;
  margin-right: 5%;
}
.lightToggle {
  display: inline;
  float: right;
  margin-right: 2%;
}
/* .header-right a {
  padding-top: 5px;
} */
