#header {
  overflow: hidden;
  background-color: #000122;
  padding-left: 5%;
  padding-right: 0;
  padding-top: 10px;
  box-sizing: border-box;
  margin: 0;
  font-family: "arial";
  height: 50px;
  text-align: left;
}

.header a {
  color: white;
  text-shadow: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-decoration: none;
  line-height: 25px;
  font-weight: normal;
}

.header a.logo {
  font-size: 25px;
  font-weight: bolder;
}

.header a.header-link:hover {
  background-color: #ddd;
  border-radius: 10px;
  color: black;
}

.header-right {
  height: inherit;
  vertical-align: middle;
  align-content: right;
  display: inline;
  float: right;
  margin-right: 10%;
}
.lightToggle {
  display: inline;
  margin-right: 2%;
  position: fixed;
  right: 0;
  top: 5;
}

.lightToggle:hover {
  cursor: pointer;
  opacity: 0.5;
}
/* .header-right a {
  padding-top: 5px;
} */
