html {
  height: 100%;
}
body {
  margin: 0;
  background-image: url(./Project_images/backgroundClear.png);
  height: auto;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-weight: bold;
  text-align: center;
  background-color: #020430;
}
p {
  white-space: pre-line;
}
#content-wrapper {
  height: inherit;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  background-image: url(./Project_images/bodyBackgroundDots.png);
  background-size: 100%;
  background-repeat: repeat;
  clear: both;
}
#content {
  background-image: url(./Project_images/bodyBackgroundLight.png);
  background-size: 100%;
  background-repeat: repeat;
  clear: both;
  /* height: fit-content; */
  width: 100%;
  height: auto;
}
#projects-long {
  margin-top: 10%;
  padding-bottom: 5%;
}
.project {
  overflow: auto;
  padding-left: auto;
  padding-right: auto;
}
.image-div {
  margin-bottom: 0px;
  padding-left: 5%;
}
.image-div img {
  align-content: center;
  width: 40%;
  float: left;
  min-width: 500px;
  min-height: auto;
  background-color: rgb(255, 161, 0);
  padding-left: 15px;
  padding-top: 15px;
}

.text-div {
  display: table;
  height: inherit;
  overflow: hidden;
}

.text-div * {
  margin-top: 0;
  margin-bottom: 0;
}
.text-div p {
  position: relative;
  text-align: left;
  margin-left: 10%;
  padding: 20px;
  width: 60%;
  min-width: 300px;
  background-color: rgb(26, 156, 231);
  color: white;
  z-index: 1;
  text-shadow: none;
}
.text-div h2 {
  position: relative;
  display: table;
  top: 10px;
  text-align: center;
  margin-left: 8%;
  padding: 10px;
  width: fit-content;
  min-width: 250px;
  background-color: rgb(167, 101, 228);
  color: white;
  z-index: 2;
  text-shadow: none;
}

ul.languages {
  display: table;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 50%;
  min-width: 200px;
  width: fit-content;
  height: 50px;
  background-color: rgb(255, 161, 0);
  z-index: 2;
  top: -10px;
  text-align: left;
}
.languages li {
  position: relative;
  display: inline-block;
  padding: 0;
  text-shadow: none;
  background-color: rgb(255, 161, 0);
  z-index: 2;
}
.languages li:hover {
  background-color: rgb(183 116 2);
}
.languages li a {
  display: block;
  text-decoration: none;
  color: #020430;
  padding: 10px;
}
